/* You can add global styles to this file, and also import other style files */

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
.modal-dialog{
	max-width: inherit !important;
}
.modal-right {
    float: right;
    height: 100%;
    margin:0px;
    width: 50% !important;
}
.modal-content{
	height: 100%;
	overflow-y: scroll; 

}
